<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- <meta name="google-signin-client_id" content="777356335430-brvkhqdho2rei5dtss0rqe8c8lmug1gl.apps.googleusercontent.com"> -->
    <title>KANBAN</title>
    <!-- vue  -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- bulma  -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <!-- fontawesome  -->
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>
<body>
    <!-- vue  -->
    <div id="app">
        <!-- navbar -->
        <nav class="navbar is-black" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
              <a class="navbar-item" href="#" @click.prevent="showDashboard">KANBAN</a>
            </div>
        
            <div id="kanbanNavbar" class="navbar-menu">
                <div class="navbar-end">
                    <div class="navbar-item">
                        <div class="buttons">
                        <a class="button is-primary has-text-black" @click="showRegister" v-if="currentPage === 'frontPage'"><strong>Register</strong></a>
                        <a class="button is-link has-text-black" @click="showLogin" v-if="currentPage === 'frontPage'"><strong>Login</strong></a>
                        <a class="button is-danger has-text-black" @click="logout" v-if="currentPage === 'dashboard'"><strong>Logout</strong></a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>  
        <!-- register  -->
        <div class="container has-text-centered"  v-if="currentPage === 'register'">
            <div class="column is-4 is-offset-4">
                <div class="box">
                    <h3 class="title has-text-black">Register</h3>
                    <!-- <p class="help is-danger">{{ errorMessage }}</p><hr> -->
                    <form id="register-form" @submit.prevent="createUser">
                        <div class="field">
                            <label class="label">Username</label>
                            <div class="control has-icons-left has-icons-right">
                                <input class="input is-success" type="text" placeholder="type your username here" id="usernameRegister" v-model="register.username" required>
                                <span class="icon is-small is-left"><i class="fas fa-user"></i></span>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Email</label>
                            <div class="control has-icons-left has-icons-right">
                              <input class="input is-danger" type="email" placeholder="type your email here" id="emailRegister" v-model="register.email" required>
                              <span class="icon is-small is-left"><i class="fas fa-envelope"></i></span>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Password</label>
                            <div class="control has-icons-left">
                              <input class="input is-link" type="password" placeholder="type your password here" id="passwordRegister" v-model="register.password" required>
                              <span class="icon is-small is-left"><i class="fas fa-lock"></i></span>
                            </div>
                        </div>
                        <button type="submit" class="button is-block is-primary is-fullwidth has-text-black">Register</button>
                    </form>
                </div>
                Already have an account? Login <a href="#" @click.prevent="showLogin">here</a>
            </div>
        </div>
        <!-- login  -->
        <div class="container has-text-centered" v-if="currentPage === 'login'">
            <div class="column is-4 is-offset-4">
                <div class="box">
                    <h3 class="title has-text-black">Login</h3><hr>
                    <form id="login-form" @submit.prevent="loginUser">
                        <div class="field">
                            <label class="label">Email</label>
                            <div class="control has-icons-left has-icons-right">
                              <input class="input is-danger" type="email" placeholder="type your email here" id="emailLogin" v-model="login.email" required>
                              <span class="icon is-small is-left"><i class="fas fa-envelope"></i></span>
                            </div>
                            <!-- <p class="help is-danger">invalid email format</p> -->
                        </div>
                        <div class="field">
                            <label class="label">Password</label>
                            <div class="control has-icons-left">
                              <input class="input is-link" type="password" placeholder="type your password here" id="passwordLogin" v-model="login.password" required>
                              <span class="icon is-small is-left"><i class="fas fa-lock"></i></span>
                            </div>
                            <!-- <p class="help is-danger">invalid password</p> -->
                        </div>
                        <button type="submit" class="button is-block is-primary is-fullwidth has-text-black">Login</button>
                    </form>
                </div>
                <p class="has-text-grey">
                    Not registered yet? Create a new account <a href="#" @click.prevent="showRegister">here</a>
                </p>
            </div>
        </div>
        <!-- dashboard kanban-->
        <div class="container has-text-centered" v-if="currentPage === 'dashboard'">
            <div class="box">
                <h1 class="title has-text-black">Kanban Dashboard</h1><hr>
                <div class="columns is-centered cards-container">
                    <div class="column">
                        <article class="message is-black">
                            <div class="message-header">
                              <p>Back Log</p>
                            </div>
                            <div class="message-body">
                                <div class="board-item" v-for='task in backlogTask' v-bind:key="task.id">
                                    <div class="board-item-content box"><span>{{ task.title }}</span><br>
                                        <a href="#" @click="renderEditTask(task.id)"><i class="fas fa-edit"></i></a>
                                        <a href="#" @click="deleteTask(task.id)"><i class="fas fa-trash-alt"></i></a>
                                    </div><br>
                                </div>
                            </div>
                            <button class="button is-black" @click="showAddForm">Add&nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-plus-circle"></i></button>
                        </article>
                    </div>
                    <div class="column">
                        <article class="message is-warning">
                            <div class="message-header">
                              <p>Todo</p>
                            </div>
                            <div class="message-body">
                                <div class="board-item" v-for='task in todoTask' v-bind:key="task.id">
                                    <div class="board-item-content box"><span>{{ task.title }}</span><br>
                                        <a href="#" @click="renderEditTask(task.id)"><i class="fas fa-edit"></i></a>
                                        <a href="#" @click="deleteTask(task.id)"><i class="fas fa-trash-alt"></i></a>
                                    </div><br>
                                </div>
                            </div>
                        </article>
                    </div>
                    <div class="column">
                        <article class="message is-info">
                            <div class="message-header">
                              <p>Ongoing</p>
                            </div>
                            <div class="message-body">
                                <div class="board-item" v-for='task in ongoingTask' v-bind:key="task.id">
                                    <div class="board-item-content box"><span>{{ task.title }}</span><br>
                                        <a href="#" @click="renderEditTask(task.id)"><i class="fas fa-edit"></i></a>
                                        <a href="#" @click="deleteTask(task.id)"><i class="fas fa-trash-alt"></i></a>
                                    </div><br>
                                </div>
                            </div>
                        </article>
                    </div>
                    <div class="column">
                        <article class="message is-success">
                            <div class="message-header">
                              <p>Done</p>
                            </div>
                            <div class="message-body">
                                <div class="board-item" v-for='task in doneTask' v-bind:key="task.id">
                                    <div class="board-item-content box"><span>{{ task.title }}</span><br>
                                        <a href="#" @click="renderEditTask(task.id)"><i class="fas fa-edit"></i></a>
                                        <a href="#" @click="deleteTask(task.id)"><i class="fas fa-trash-alt"></i></a>
                                    </div><br>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>   
        <!-- add form  -->
        <div class="container has-text-centered"  v-if="currentPage === 'addFormPage'">
            <div class="column is-4 is-offset-4">
                <div class="box">
                    <form id="add-form" @submit.prevent="addTask">
                        <div class="field">
                            <h3 class="title has-text-black">Add New Task</h3><hr>
                            <label class="label">Title</label>
                            <div class="control has-icons-left has-icons-right">
                              <input class="input is-info" type="text" placeholder="type your task here" v-model="newTask.title" required>
                            </div>
                        </div>
                        <button class="button is-grey" @click="showDashboard">Cancel&nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-times-circle"></i></button>
                        <button type="submit" class="button is-black">Submit&nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-plus-circle"></i></button>
                    </form>
                </div> 
            </div>
        </div>
        <!-- edit form -->
        <div class="container has-text-left" v-if="currentPage === 'editFormPage'">
            <div class="column is-4 is-offset-4">
                <div class="box">
                    <form id="edit-form" @submit.prevent="editTask(editTaskObj.id)">
                        <div class="field">
                            <h3 class="title has-text-black">Edit Task</h3><hr>
                            <label class="label">Title</label>
                            <div class="control">
                              <input class="input is-info" type="text" placeholder="type your task here" v-model="editTaskObj.title" required>
                            </div>
                            <label class="label">Category</label>
                            <div class="control">
                                <div class="select">
                                  <select v-model="editTaskObj.category">
                                    <option selected disabled>Select</option>
                                    <option value="BACKLOG" class="has-text-black">BACKLOG</option>
                                    <option value="TODO" class="has-text-warning">TODO</option>
                                    <option value="ONGOING" class="has-text-link">ONGOING</option>
                                    <option value="DONE"class="has-text-success">DONE</option>
                                  </select>
                                </div>
                              </div>
                        </div>
                        <button class="button is-grey" @click="showDashboard">Cancel&nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-times-circle"></i></button>
                        <button type="submit" class="button is-black">Edit&nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-check-circle"></i></button>
                    </form>
                </div> 
            </div>
        </div>
    </div>
    <!-- script vue-->
    <script src="../src/main.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!-- <script src="https://apis.google.com/js/platform.js" async defer></script> -->
</body>
</html>